$filterSortPadding: 20px;

.filter_sort_container {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sort_container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 10px;
  z-index: 5;
}

.filter_container {
  position: relative;
  width: 360px;
  height: 100%;
  flex: 1;
}

.filter {
  width: 360px;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 5;
  background: #FFFFFF;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
}

details[open] > summary {
  color: #F16D7F;
  list-style: none;
}

details[open] > summary {
  color: #F16D7F;
  list-style: none;
}

details[open] > img {

}

.filter_name {
}

.filter_summary {
  width: fit-content;
  padding-right: 30px;
}

.filter_image {
  height: 20px;
  width: 20px;
  padding-left: 11px;
}

summary {
  height: 40px;
  margin-left: 10px;
  list-style-type: none;
  cursor: pointer;
}

.filter_container details:first-child > summary:after {
  background-size: 18px 18px;
  background: url("img/filter.svg") no-repeat bottom;
  display: inline-block;
  vertical-align: center;
  width: 25px;
  height: 25px;
  content:"";
  margin-left: 10px;
}

.filter_container details[open]:first-child > summary:after {
  background: url("./img/filter_pink.svg") no-repeat bottom;
}

.filter_container details[open]:first-child{
  box-shadow: 0 5px 10px rgb(226, 226, 226);
  z-index: 6;
}

.filter_container details:not(:first-child) > summary{
  border-left: 5px solid $pinkColor;
  border-bottom: 1px solid $colorGray;
  margin: 10px 0;
  padding-top: 10px;
  padding-left: 10px;
}


summary::-webkit-details-marker {
  display: none;
}

.hidden_filter {
  visibility: hidden;
}

.drop_down{
  border: 0;
  outline: 0;
  text-align: end;
}