.main_container {
    display: flex;
    flex-flow: column;
}

.nav_container {
    background-color: #222222;
    width: 100%;
}

.nav_center_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1075px;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
}

.navigation_icons_container {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 32px;
}

.fluid_image {
    width: 100%;
}

.top_main_container {
    width: 100%;
    background-color: #F1E4E6;
}

.top_container {
    display: flex;
    justify-content: center;
}

.top_model_man {
    width: 50%;
}

.top_content_container {
    display: flex;
    align-items: center;
}

.pink_rectangle {
    margin-left: 64px;
    margin-right: 16px;
}

.top_content {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.top_content_text {
    max-width: 377px;
}

.brand_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    display: block;
}

.luxerious_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
}

.fashion_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;
    color: #F16D7F;
}